.frame-child21 {
  border: 3px solid var(--color-dimgray-200);
  background-color: var(--color-white);
  position: absolute;
  top: 4785px;
  left: 1931px;
  box-sizing: border-box;
  width: 720px;
  height: 863px;
}
.frame-child22,
.frame-child23 {
  border: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 5095px;
  left: 1028px;
  width: 725px;
  height: 122px;
}
.frame-child23 {
  top: 5084px;
  left: 1926px;
}
.unique2 {
  position: absolute;
  top: 5080px;
  left: 1954px;
  font-size: var(--font-size-77xl);
  text-transform: lowercase;
  font-weight: 200;
  text-align: left;
  display: flex;
  align-items: center;
  width: 721px;
  height: 132px;
}
.frame-child24 {
  border: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 5268px;
  left: 1926px;
  width: 729px;
  height: 380px;
}
.we2 {
  text-transform: capitalize;
}
.and2,
.provide-unique1 {
  text-transform: lowercase;
}
.and2 {
  margin: 0;
}
.we-provide-unique-container5 {
  line-break: anywhere;
  width: 100%;
}
.we-provide-unique-container4 {
  position: absolute;
  top: 4979px;
  left: -1015px;
  display: flex;
  font-family: var(--font-source-sans-pro);
  color: var(--color-dimgray-100);
  text-align: left;
  align-items: center;
  width: 591px;
  height: 226px;
}
.imgonline-com-ua-shape-1vusawc-icon1 {
  position: absolute;
  top: 1178px;
  left: 1969px;
  width: 827px;
  height: 674px;
  object-fit: cover;
}
.imgonline-com-ua-shape-kicdm8i-icon1 {
  position: absolute;
  top: 290px;
  left: 0;
  width: 840px;
  height: 660px;
  object-fit: cover;
}
.frame-child25 {
  position: absolute;
  top: 69px;
  left: 102px;
  background-color: var(--color-mediumaquamarine-100);
  width: 2592px;
  height: 166px;
}
.imgonline-com-ua-shape-1vusawc-group {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 2796px;
  height: 1900px;
  overflow: hidden;
  display: none;
}
.frame-child26 {
  position: absolute;
  top: 293px;
  left: 574px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.a1-1ac-8926379-2659189345-5-icon1 {
  position: absolute;
  top: 18px;
  left: 526px;
  width: 772px;
  height: 958px;
  object-fit: cover;
}
.frame-child27,
.frame-child28 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mediumturquoise);
  width: 526px;
  height: 1019px;
}
.frame-child28 {
  top: 18px;
  background-color: var(--color-black);
  height: 617px;
}
.about-us2 {
  margin: 0;
  text-transform: uppercase;
}
.umang4 {
  text-decoration: underline;
}
.about-us-umang-container2 {
  position: absolute;
  top: 31px;
  left: 48px;
  display: flex;
  align-items: center;
  width: 453px;
  height: 128px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 2px #fff;
}
.get-information-about1 {
  position: absolute;
  top: 212px;
  left: 44px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 457px;
  height: 371px;
}
.frame-child29 {
  position: absolute;
  top: 628px;
  left: 12px;
  background-color: var(--color-darkslateblue);
  width: 514px;
  height: 348px;
}
.ai1 {
  text-transform: uppercase;
}
.to-reduce-the-container2 {
  position: absolute;
  top: 617px;
  left: 22px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-source-sans-pro);
  display: flex;
  align-items: center;
  width: 504px;
  height: 359px;
}
.a1-1ac-8926379-2659189345-5-group {
  position: absolute;
  top: 0;
  left: 0;
  border: 23px solid var(--color-cornflowerblue-100);
  box-sizing: border-box;
  width: 1362px;
  height: 1019px;
  overflow-y: auto;
}
.frame-parent1,
.frame-wrapper2 {
  position: absolute;
  overflow: hidden;
}
.frame-wrapper2 {
  top: 43px;
  left: 27px;
  width: 1344px;
  height: 978px;
  cursor: pointer;
}
.frame-parent1 {
  top: 938px;
  left: 7px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1335px;
  height: 1016px;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-atkinson-hyperlegible);
}
.frame-child30,
.frame-child31 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-green);
  width: 1371px;
  height: 1006px;
}
.frame-child31 {
  top: 19.5px;
  left: 11px;
  background-color: var(--color-white);
  width: 1353px;
  height: 228px;
}
.frame-child32 {
  position: absolute;
  top: 244.5px;
  left: 23px;
  width: 1348px;
  height: 218px;
}
.contact-us2,
.mail-us1 {
  position: absolute;
  text-transform: lowercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us2 {
  top: 273px;
  left: 11px;
  font-size: var(--font-size-45xl);
  font-weight: 600;
  font-family: var(--font-noto-sans-new-tai-lue);
  color: var(--color-gray-200);
  width: 1330px;
  height: 136px;
  -webkit-text-stroke: 3px #000;
}
.mail-us1 {
  top: 549.5px;
  left: 1063px;
  width: 308px;
  height: 110px;
}
.vector-icon3 {
  position: absolute;
  height: 16.44%;
  width: 6.35%;
  top: 24.22%;
  right: 46.75%;
  bottom: 59.33%;
  left: 46.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.follow-us1 {
  position: absolute;
  top: 561.5px;
  left: 575px;
  text-transform: lowercase;
  display: flex;
  color: var(--color-gray-100);
  align-items: center;
  justify-content: center;
  width: 201px;
  height: 86px;
}
.group-icon3 {
  position: absolute;
  height: 16.78%;
  width: 5.82%;
  top: 24.09%;
  right: 8.33%;
  bottom: 59.12%;
  left: 85.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.call-today1 {
  position: absolute;
  top: 561.5px;
  left: 83px;
  text-transform: lowercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 205px;
  height: 79px;
}
.vector-icon4 {
  position: absolute;
  height: 16.5%;
  width: 6.05%;
  top: 24.13%;
  right: 83.44%;
  bottom: 59.37%;
  left: 10.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tap-on-screen1 {
  position: absolute;
  top: 659.5px;
  left: 1042px;
  font-size: var(--font-size-xl);
  text-transform: lowercase;
  font-family: var(--font-grenze);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 425px;
  height: 48px;
}
.rectangle-parent1 {
  position: relative;
  width: 1371px;
  height: 409px;
  flex-shrink: 0;
  overflow: hidden;
}
.frame-child33,
.frame-wrapper3 {
  position: absolute;
  box-sizing: border-box;
}
.frame-wrapper3 {
  top: 3036px;
  left: 0;
  border: 23px solid var(--color-darkturquoise);
  width: 1371px;
  height: 410px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--font-size-6xl);
  font-family: var(--font-merienda);
}
.frame-child33 {
  top: 1979px;
  left: 3px;
  background-color: var(--color-midnightblue);
  border: 23px solid var(--color-royalblue);
  width: 1365px;
  height: 1024px;
}
.x0-icon1 {
  position: absolute;
  top: 135px;
  left: 9px;
  width: 1322px;
  height: 700px;
  object-fit: cover;
}
.frame-child34,
.frame-child35,
.frame-child36 {
  border: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 1181px;
  left: 131px;
  width: 725px;
  height: 122px;
}
.frame-child35,
.frame-child36 {
  top: 1380px;
  left: -27px;
  width: 1358px;
  height: 1008px;
}
.frame-child36 {
  top: 78px;
  left: 118px;
  width: 635px;
  height: 155px;
}
.frame-child37,
.frame-child38,
.frame-child39 {
  position: absolute;
  top: 197px;
  left: 100px;
  width: 279px;
  height: 375px;
}
.frame-child38,
.frame-child39 {
  left: 516px;
}
.frame-child39 {
  left: 947px;
}
.feasible2,
.instant1,
.unique3 {
  position: absolute;
  text-transform: lowercase;
  display: flex;
  align-items: center;
}
.instant1 {
  top: 197px;
  left: 166px;
  text-align: left;
  width: 154px;
  height: 88px;
}
.feasible2,
.unique3 {
  top: 178px;
  left: 563px;
  justify-content: center;
  width: 185px;
  height: 127px;
}
.unique3 {
  top: 192px;
  left: 973px;
  height: 90px;
}
.no-wastage-of-container2,
.our-solutions-are-container2,
.we-provide-unique-container6 {
  position: absolute;
  font-size: var(--font-size-13xl);
  display: flex;
  font-family: var(--font-source-sans-pro);
  color: var(--color-dimgray-100);
  align-items: center;
}
.no-wastage-of-container2 {
  top: 394px;
  left: 118px;
  white-space: pre-wrap;
  width: 249px;
  height: 156px;
}
.our-solutions-are-container2,
.we-provide-unique-container6 {
  top: 382px;
  left: 526px;
  width: 251px;
  height: 193px;
}
.we-provide-unique-container6 {
  top: 355px;
  left: 947px;
  width: 256px;
}
.group-icon4,
.vector-icon5 {
  max-width: 100%;
  max-height: 100%;
}
.vector-icon5 {
  position: absolute;
  height: 8.11%;
  width: 5.35%;
  top: 27.56%;
  right: 79.03%;
  bottom: 64.33%;
  left: 15.63%;
  overflow: hidden;
}
.group-icon4 {
  height: 7.52%;
  width: 5.28%;
  top: 27.18%;
  right: 47.69%;
  bottom: 65.3%;
  left: 47.03%;
}
.group-icon4,
.group-icon5,
.x0-group {
  position: absolute;
  overflow: hidden;
}
.group-icon5 {
  height: 7.9%;
  width: 5.75%;
  top: 27.18%;
  right: 15.97%;
  bottom: 64.92%;
  left: 78.28%;
  max-width: 100%;
  max-height: 100%;
}
.x0-group {
  top: 1979px;
  left: 34px;
  width: 1312px;
  height: 1034px;
  cursor: pointer;
  font-size: var(--font-size-31xl);
  font-family: var(--font-actor);
}
.frame-child40,
.frame-child41 {
  position: absolute;
  top: 129px;
  left: 793px;
  width: 120px;
  height: 53px;
  overflow: hidden;
}
.frame-child41 {
  top: 97px;
  left: 0;
  width: 265px;
  height: 103px;
}
.frame-child42 {
  position: absolute;
  top: 27px;
  left: 17px;
  background-color: var(--color-mediumaquamarine-200);
  width: 1333px;
  height: 163px;
}
.istockphoto-1274428125-612x6121 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 1357px;
  height: 938px;
  background-image: url(./public/istockphoto1274428125612x6121@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.home1,
.umang5 {
  position: absolute;
  left: 0;
  text-transform: lowercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.umang5 {
  top: 3px;
  font-size: var(--font-size-36xl);
  width: 330px;
  height: 148px;
  cursor: pointer;
}
.home1 {
  top: 0;
  font-size: var(--font-size-13xl);
  font-family: var(--font-acme);
  color: var(--color-white);
  text-align: center;
  width: 204px;
  height: 74px;
}
.frame-child43,
.home-container {
  position: absolute;
  overflow: hidden;
}
.home-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-300);
  top: 45px;
  left: 662px;
  width: 203px;
  height: 74px;
}
.frame-child43 {
  top: 18px;
  left: 63px;
  width: 157px;
  height: 73px;
}
.about-us3 {
  position: absolute;
  top: 0;
  left: -10px;
  font-size: var(--font-size-13xl);
  text-transform: lowercase;
  font-family: var(--font-acme);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 268px;
  height: 91px;
}
.frame-child44,
.frame-parent3 {
  position: absolute;
  top: -34px;
  left: 30px;
  width: 146px;
  height: 85px;
  overflow: hidden;
  cursor: pointer;
}
.frame-parent3 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 41px;
  left: 975px;
  width: 204px;
  height: 101px;
}
.features1 {
  position: absolute;
  top: 8px;
  left: 836px;
  font-size: var(--font-size-13xl);
  text-transform: lowercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 195px;
  height: 148px;
}
.frame-child45 {
  border: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 383px;
  left: 254px;
  width: 873px;
  height: 163px;
}
.frame-child46 {
  position: absolute;
  top: 481px;
  left: 603px;
  background-color: var(--color-white);
  width: 127px;
  height: 22px;
}
.frame-child47,
.frame-wrapper4 {
  position: absolute;
  top: 74px;
  left: 13px;
  width: 205px;
  height: 59px;
  overflow: hidden;
  cursor: pointer;
}
.frame-wrapper4 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: -22px;
  left: 819px;
  width: 216px;
  height: 148px;
}
.frame-child48 {
  position: absolute;
  top: 323px;
  left: 256px;
  background-color: var(--color-gray-400);
  width: 812px;
  height: 105px;
}
.making-india-healthier1 {
  position: absolute;
  top: 325px;
  left: 228px;
  text-transform: capitalize;
  font-family: var(--font-actor);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 874px;
  height: 103px;
  backdrop-filter: blur(4px);
  -webkit-text-stroke: 2px #fff;
}
.frame-child49,
.select-a-state1 {
  position: absolute;
  top: 20px;
  left: 0;
  width: 466px;
  height: 121px;
}
.select-a-state1 {
  left: 30px;
  font-size: var(--font-size-45xl);
  text-transform: lowercase;
  font-family: var(--font-akshar);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 403px;
}
.ellipse-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 689px;
  left: 444px;
  width: 462px;
  height: 141px;
  overflow: hidden;
}
.contact-us3 {
  position: absolute;
  top: -35px;
  left: 35px;
  font-size: var(--font-size-13xl);
  text-transform: lowercase;
  font-family: var(--font-acme);
  color: var(--color-white);
  text-align: right;
  display: flex;
  align-items: center;
  width: 147px;
  height: 124px;
}
.contact-us-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 58px;
  left: 1150px;
  width: 181px;
  height: 73px;
  overflow: hidden;
}
.for-getting-feasible1 {
  position: absolute;
  top: 512px;
  left: 238px;
  text-transform: lowercase;
  font-family: var(--font-grenze);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 853px;
  height: 168px;
}
.frame-parent2,
.rectangle-container {
  position: absolute;
  top: 0;
  background-color: var(--color-white);
}
.frame-parent2 {
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1367px;
  height: 938px;
  overflow: hidden;
  color: var(--color-white);
  font-family: var(--font-acme);
}
.rectangle-container {
  left: 21px;
  width: 1365px;
  height: 3446px;
  overflow-y: auto;
}
.frame-child50 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1382px;
  height: 1566px;
}
.frame-child51,
.frame-child52 {
  position: absolute;
  top: 1807px;
  height: 192px;
}
.frame-child51 {
  left: 76px;
  background-color: var(--color-gainsboro);
  width: 839px;
}
.frame-child52 {
  left: 1046px;
}
.frame-child52,
.frame-child53,
.frame-child54,
.frame-child55 {
  background-color: var(--color-gainsboro);
  width: 839px;
}
.frame-child53 {
  position: absolute;
  top: 1807px;
  left: 2016px;
  height: 192px;
}
.frame-child54,
.frame-child55 {
  top: 1999px;
  height: 676px;
}
.frame-child54 {
  position: absolute;
  left: 76px;
  border-radius: var(--br-206xl);
}
.frame-child55 {
  left: 1046px;
}
.frame-child55,
.frame-child56,
.frame-child57 {
  position: absolute;
  border-radius: var(--br-206xl);
}
.frame-child56 {
  top: 1999px;
  left: 2016px;
  background-color: var(--color-gainsboro);
  width: 839px;
  height: 676px;
}
.frame-child57 {
  top: 6001px;
  left: 31px;
  width: 1273px;
  height: 708px;
}
.state {
  margin: 0;
}
.state-traits-temperature-container {
  position: absolute;
  top: 6056px;
  left: 92px;
  text-transform: lowercase;
  display: flex;
  align-items: center;
  width: 1212px;
  height: 632px;
}
.here-are-the {
  position: absolute;
  top: 5817px;
  left: 58px;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1273px;
  height: 160px;
}
.vector-group,
.vector-parent {
  position: absolute;
  top: -5607px;
  left: -4px;
  width: 1369px;
  height: 6829px;
  overflow: hidden;
}
.vector-parent {
  top: 5351px;
  left: 34px;
  background-color: var(--color-white);
  width: 1365px;
  height: 1222px;
  text-align: left;
  font-family: var(--font-actor);
}
.frame-child58,
.frame-child59 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-deepskyblue);
  width: 1660px;
  height: 2151px;
}
.frame-child59 {
  top: -59px;
  left: -5px;
  background-color: var(--color-steelblue);
  width: 1586px;
  height: 2079px;
}
.frame-child60,
.states {
  position: absolute;
  top: 23px;
  left: 379px;
  width: 610px;
  height: 212px;
}
.states {
  top: 60px;
  left: 427px;
  text-transform: lowercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 514px;
  height: 137px;
}
.property-1default-child {
  top: 1041px;
  left: 72px;
}
.property-1default-child,
.property-1default-child1,
.property-1default-inner,
.property-1default-item {
  position: absolute;
  background-color: var(--color-white);
  width: 310px;
  height: 86px;
}
.property-1default-item {
  border: 0;
  top: 1041px;
  left: 885px;
}
.property-1default-child1,
.property-1default-inner {
  top: 192px;
  left: 72px;
}
.property-1default-child1 {
  top: 66px;
  background-color: var(--color-ghostwhite);
  mix-blend-mode: color-dodge;
}
.property-1default-child2,
.property-1default-child3,
.property-1default-child4 {
  position: absolute;
  top: 192px;
  left: 897px;
  background-color: var(--color-white);
  width: 310px;
  height: 86px;
}
.property-1default-child3,
.property-1default-child4 {
  border: 0;
  left: 491px;
}
.property-1default-child4 {
  top: 67px;
  left: 489px;
}
.property-1default-child5,
.property-1default-child6,
.property-1default-child7 {
  position: absolute;
  top: 464px;
  left: 74px;
  background-color: var(--color-white);
  width: 310px;
  height: 86px;
}
.property-1default-child6,
.property-1default-child7 {
  top: 320px;
  left: 896px;
}
.property-1default-child7 {
  top: 67px;
  left: 897px;
}
.property-1default-child10,
.property-1default-child8,
.property-1default-child9 {
  position: absolute;
  top: 464px;
  left: 489px;
  background-color: var(--color-white);
  width: 310px;
  height: 86px;
}
.property-1default-child10,
.property-1default-child9 {
  top: 322px;
  left: 491px;
}
.property-1default-child10 {
  left: 74px;
}
.property-1default-child11,
.property-1default-child12,
.property-1default-child13 {
  position: absolute;
  top: 748px;
  left: 484px;
  background-color: var(--color-white);
  width: 310px;
  height: 86px;
}
.property-1default-child12,
.property-1default-child13 {
  top: 464px;
  left: 896px;
}
.property-1default-child13 {
  top: 610px;
}
.property-1default-child14 {
  top: 610px;
  left: 484px;
}
.property-1default-child14,
.property-1default-child15,
.property-1default-child16 {
  position: absolute;
  background-color: var(--color-white);
  width: 310px;
  height: 86px;
}
.property-1default-child15 {
  border: 0;
  top: 751px;
  left: 72px;
}
.property-1default-child16 {
  top: 610px;
  left: 74px;
}
.property-1default-child17,
.property-1default-child18,
.property-1default-child19 {
  position: absolute;
  top: 748px;
  left: 892px;
  background-color: var(--color-white);
  width: 310px;
  height: 86px;
}
.property-1default-child18,
.property-1default-child19 {
  top: 898px;
  left: 74px;
}
.property-1default-child19 {
  border: 0;
  top: 1193px;
  left: 484px;
}
.property-1default-child20,
.property-1default-child21,
.property-1default-child22 {
  position: absolute;
  left: 481px;
  background-color: var(--color-white);
  width: 310px;
  height: 86px;
}
.property-1default-child20 {
  border: 0;
  top: 1042px;
}
.property-1default-child21,
.property-1default-child22 {
  top: 898px;
}
.property-1default-child22 {
  top: 1187px;
  left: 885px;
}
.property-1default-child23,
.property-1default-child24,
.property-1default-child25 {
  position: absolute;
  top: 1193px;
  left: 74px;
  background-color: var(--color-white);
  width: 310px;
  height: 86px;
}
.property-1default-child24,
.property-1default-child25 {
  top: 898px;
  left: 892px;
}
.property-1default-child25 {
  border: 0;
  top: 1347px;
  left: 484px;
}
.arunachal-pradesh {
  position: absolute;
  top: 177px;
  left: 81px;
  font-size: var(--font-size-16xl);
  text-transform: capitalize;
  font-weight: 300;
  text-align: left;
  display: flex;
  align-items: center;
  width: 368px;
  height: 120px;
  cursor: pointer;
}
.assam {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 301px;
  left: 49px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-jp);
  color: var(--color-black);
  text-align: center;
  justify-content: center;
  width: 376px;
  height: 123px;
}
.assam,
.bihar,
.chattisgarh {
  cursor: pointer;
  position: absolute;
  text-transform: capitalize;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.bihar {
  top: 450px;
  left: 47px;
  justify-content: center;
  width: 372px;
  height: 113px;
}
.chattisgarh {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 589px;
  left: 45px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-jp);
  color: var(--color-black);
  text-align: center;
  width: 376px;
  height: 115px;
}
.chattisgarh,
.goa,
.gujarat {
  justify-content: center;
}
.goa {
  position: absolute;
  top: 730px;
  left: 34px;
  text-transform: capitalize;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 385px;
  height: 121px;
  cursor: pointer;
}
.gujarat {
  top: 874px;
  left: 45px;
  width: 372px;
  height: 130px;
}
.gujarat,
.haryana,
.himachal-pradesh {
  position: absolute;
  text-transform: capitalize;
  font-weight: 300;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.haryana {
  top: 1019px;
  left: 41px;
  justify-content: center;
  width: 372px;
  height: 124px;
}
.himachal-pradesh {
  top: 1172px;
  left: 81px;
  font-size: var(--font-size-16xl);
  text-align: left;
  width: 364px;
  height: 115px;
}
.jharkhand,
.karnataka,
.kerala,
.madhya-pradesh,
.maharashtra,
.manipur,
.meghalaya,
.mizoram {
  position: absolute;
  top: 50px;
  left: 449px;
  text-transform: capitalize;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 374px;
  height: 118px;
  cursor: pointer;
}
.karnataka,
.kerala,
.madhya-pradesh,
.maharashtra,
.manipur,
.meghalaya,
.mizoram {
  top: 181px;
  left: 467px;
  width: 357px;
  height: 107px;
}
.kerala,
.madhya-pradesh,
.maharashtra,
.manipur,
.meghalaya,
.mizoram {
  top: 305px;
  left: 459px;
  width: 374px;
  height: 119px;
}
.madhya-pradesh,
.maharashtra,
.manipur,
.meghalaya,
.mizoram {
  top: 450px;
  left: 460px;
  width: 370px;
  height: 109px;
}
.maharashtra,
.manipur,
.meghalaya,
.mizoram {
  top: 599px;
  left: 449px;
  width: 374px;
  height: 111px;
}
.manipur,
.meghalaya,
.mizoram {
  top: 725px;
  left: 456px;
  height: 126px;
}
.meghalaya,
.mizoram {
  top: 883px;
  left: 449px;
  width: 387px;
  height: 111px;
}
.mizoram {
  top: 1027px;
  left: 446px;
  height: 116px;
}
.andhra-pradesh,
.nagaland,
.odisha,
.punjab,
.rajasthan,
.sikkim,
.tamil-nadu,
.telangana,
.tripura,
.uttar-pradesh,
.uttarakhand,
.west-bengal {
  position: absolute;
  top: 1176px;
  left: 445px;
  text-transform: capitalize;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 107px;
  cursor: pointer;
}
.andhra-pradesh,
.odisha,
.punjab,
.rajasthan,
.sikkim,
.tamil-nadu,
.telangana,
.tripura,
.uttar-pradesh,
.uttarakhand,
.west-bengal {
  top: 51px;
  left: 856px;
  width: 391px;
  height: 118px;
}
.andhra-pradesh,
.punjab,
.rajasthan,
.sikkim,
.tamil-nadu,
.telangana,
.tripura,
.uttar-pradesh,
.uttarakhand,
.west-bengal {
  top: 177px;
  left: 865px;
  width: 373px;
  height: 115px;
}
.andhra-pradesh,
.rajasthan,
.sikkim,
.tamil-nadu,
.telangana,
.tripura,
.uttar-pradesh,
.uttarakhand,
.west-bengal {
  top: 308px;
  width: 371px;
  height: 110px;
}
.andhra-pradesh,
.sikkim,
.tamil-nadu,
.telangana,
.tripura,
.uttar-pradesh,
.uttarakhand,
.west-bengal {
  top: 446px;
  left: 856px;
  width: 381px;
  height: 117px;
}
.andhra-pradesh,
.tamil-nadu,
.telangana,
.tripura,
.uttar-pradesh,
.uttarakhand,
.west-bengal {
  top: 589px;
  left: 860px;
  width: 383px;
  height: 127px;
}
.andhra-pradesh,
.telangana,
.tripura,
.uttar-pradesh,
.uttarakhand,
.west-bengal {
  top: 731px;
  left: 852px;
  width: 375px;
  height: 113px;
}
.andhra-pradesh,
.tripura,
.uttar-pradesh,
.uttarakhand,
.west-bengal {
  top: 876px;
  width: 386px;
  height: 126px;
}
.andhra-pradesh,
.uttar-pradesh,
.uttarakhand,
.west-bengal {
  top: 1027px;
  width: 369px;
  height: 113px;
}
.andhra-pradesh,
.uttar-pradesh,
.west-bengal {
  top: 1173px;
  left: 856px;
  width: 389px;
}
.andhra-pradesh,
.west-bengal {
  top: 1317px;
  left: 449px;
  width: 375px;
  height: 125px;
}
.andhra-pradesh {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 61px;
  left: 84px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-jp);
  color: var(--color-black);
  text-align: center;
  width: 289px;
  height: 98px;
  mix-blend-mode: darken;
}
.property-1default,
.property-1default-wrapper {
  position: absolute;
  top: -11px;
  left: 0;
  width: 1348px;
  height: 1499px;
  overflow: hidden;
}
.property-1default-wrapper {
  top: 254px;
  left: 38px;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  width: 1286px;
  height: 1488px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-jp);
}
.frame-root,
.rectangle-parent2 {
  background-color: var(--color-white);
  overflow: hidden;
}
.rectangle-parent2 {
  position: absolute;
  top: 3566px;
  left: 32px;
  width: 1367px;
  height: 1785px;
  font-size: var(--font-size-61xl);
  font-family: var(--font-mate-sc);
}
.frame-root {
  position: relative;
  width: 100%;
  height: 6573px;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-noto-serif-jp);
}
@media screen and (max-width: 1200px) {
  .frame-parent1 {
    opacity: 0;
  }
  .frame-parent1.animate {
    animation: 1s ease 0s 1 normal forwards slide-in-top;
  }
  @keyframes slide-in-top {
    0% {
      transform: translateY(-200px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
